{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Изберете план - Фит Навигатор</title>
    <script src="{% static 'Quiz/dropdown.js' %}"></script>
    <link rel="stylesheet" href="{% static 'basicFiles/basic.css' %}">
    <link rel="stylesheet" href="{% static 'Quiz/choosePlan.css' %}">
{% endblock head %}


{% block main %}
        <span class="leftSection">
            <video autoplay loop muted   class="intro_section" autoplay loop>
                <source src="{% static 'Quiz/intro_section.mp4' %}" type="video/mp4">
            </video>
            <img src="{% static 'basicFiles/intro-sectionPh.jpg' %}" alt="">
        </span>

        <span class="rightSection">
        <form method = "post">
        {% csrf_token %}

            <h2 class="heading">Попълнете вашата информация:</h2>
            <div class="question">
                <label for="level">1. От къде искате да тренирате?</label><br>
                <select  name="env" id="env" onfocus="this.size=2" onblur="this.size=0" onchange="this.size=1; this.blur()">
                    <option value="gym">В Фитнес</option>
                    <option value="home">Навън/ У дома</option>
                </select>
            </div>
            <div class="question">
                <label for="level">2. Какъв е вашият пол?</label><br>
                <select  name="gender" id="gender" onfocus="this.size=2" onblur="this.size=0" onchange="this.size=1; this.blur()">
                    <option value="male">Мъж</option>
                <option value="female">Жена</option>
                </select>
            </div>

            <div class="question">
                <label for="level">3. Какви са вашите цели?</label><br>
                <select  name="goals" id="goals" onfocus="this.size=2" onblur="this.size=0" onchange="this.size=1; this.blur()">
                    <option value="gainWeight">Покачване на мускулна маса</option>
                    <option value="loseWeight">Загуба на излишни мазнини</option>
                </select>
            </div>

            <div class="question">
                <label for="level">4. Колко е натоварено вашето ежедневие?</label><br>
                <select  name="time" id="time" onfocus="this.size=2" onblur="this.size=0" onchange="this.size=1; this.blur()">
                    <option value="free">Имам достатъчно свободно време</option>
                    <option value="busy">Нямам много свободно време</option>
                </select>
            </div>

            <div class="question">
                <label for="level">5. Какъв вид е вашето тяло? <br> <a href="/bmi">BMI калкулатор</a></label>
                <!-- <p>За да улесним поцесът на определяне на вашият вид тело ще трябва да тествате вашият BMI(индекс на телесна маса), като използвате калкулаторът вргаден в нашият сайт:</p> -->
                <br>
                <select  name="bodytype" id="bodytype" onfocus="this.size=3" onblur="this.size=0" onchange="this.size=1; this.blur()">
                    <option value="underweight">BMI under 20</option>
                    <option value="normal">BMI under 25</option>
                    <option value="overweight">BMI over 25</option>
                </select>
            </div>
            <input type="submit" value="Изпрати" id="submit">
        </form>
        </span>
    <script src="" async defer></script>
{% endblock main %}



