{% load static %}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Изберете план - Фит Навигатор</title>
    <script src="{% static 'Quiz/dropdown.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Quiz/choosePlan.css' %}">

</head>

<body>

    <header>
        <nav>
            <div id="div">
                <a href="/home" title="Главна страница">
                    <img src="{% static 'Quiz/logo.png' %}" alt="Фит Навигатор" id="logo">
                    <img src="{% static 'Quiz/responsiveLogo.png' %}" alt="Фит Навигатор" id="responsiveLogo">
                </a>
                <img src="{% static 'Quiz/dropdown.png' %}" alt=""  id="dropdown"  onclick="dropdown()">
            </div>

            <a href="/fitNavigator" class="navButton">Линк 1</a>
        
            <a href="/bmr" class="navButton">Линк 2</a>

            <a href="/onlineShop" class="navButton">Онлайн магазин</a>
 
            <a href="#" class="navButton">Линк 4</a>

            <a href="/authentication" title="Профил"><img src="{% static 'Quiz/profile.png' %}" alt="Фит Навигатор" id="img2"></a>
    </nav>

    <br>
    </header>


    <main>
        <section class="AboutFitNav">
            <h2>Попълнете вашата информация:</h2>
        </section>

        <div class="poll">

            <div class="section">
                <label for="username">1. От къде искате да тренирате?</label> <br>
                <ul class="parent-list">
                    <li>
                        <div class="mainOption"><span>Изберете опция</span></div>
                        <ul class="option-list">
                            <li class="option" ><span>Навън/ У дома</span></li>
                            <li class="option"><span>В Фитнес</span></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="section">
                <label for="username">2. Какъв е вашият пол?</label> <br>
                <ul class="parent-list">
                    <li>
                        <div class="mainOption"><span>Изберете опция</span></div>
                        <ul class="option-list">
                            <li class="option"><span>Мъж</span></li>
                            <li class="option"><span>Жена</span></li>
                        </ul>
                    </li>
                </ul>
            </div>  
            <br><br>
    
                <div class="section">
                    <label for="username">3. Какви са вашите цели?</label> <br>
                    <ul class="parent-list">
                        <li>
                            <div class="mainOption"><span>Изберете опция</span></div>
                            <ul class="option-list">
                                <li class="option"><span>Загуба на излишни мазнини</span></li>
                                <li class="option"><span>Покачване на мускулна маса</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="section">
                    <label for="username">4. Колко е натоварено вашето ежедневие?</label> <br>
                    <ul class="parent-list">
                        <li>
                            <div class="mainOption"><span>Изберете опция</span></div>
                            <ul class="option-list">
                                <li class="option"><span>Зает съм и желая да завършвам с тренировклите си бързо</span></li>
                                <li class="option"><span>Имам достатъчно свободно време за тренировки</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            <br><br>


                <!--
                    Калкулаторът изчислява индекса на телесната маса (Body Mass Index - BMI). Индексът спомага да се определят нормалните стойности на теглото и степента на затлъстяване при лица над 17 години. Резултатите от калкулатора не са показателни за бременни или кърмещи жени, както и за хора със значителна мускулна маса.
                -->

                <div class="section">
                    <label for="username">5. Какъв вид е вашето тяло?</label> <br>
                    <ul class="parent-list">
                        <li>
                            <div class="mainOption"><span>Изберете опцията която е най-близо до вашият резолтат</span></div>
                            <ul class="option-list">
                                <li class="option"><span>BMI under 20</span></li>
                                <li class="option"><span>BMI under 25</span></li>
                                <li class="option"><span>BMI over 25</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <br>
                    <button type="submit" id="submit">ИЗПРАТИ</button>
            </div>
            <script src="{% static 'Quiz/ChoosePlan.js' %}"></script>
    </main>

    <footer>
        <div class="footerLinks">
            <h6>За уебсайта</h6>
            <div class="footerLink"><a href="">За сайта</a></div>
            <div class="footerLink"><a href="">ЧЗВ</a></div>
        </div>

        <div class="footerLinks">
            <h6>За нас</h6>
            <div class="footerLink"><a href="">Кои сме ние?</a></div>
            <div class="footerLink"><a href="">Контакти</a></div>
        </div>
        
        <div class="footerLinks">
            <h6>Документация и Инструкции</h6>
            <div class="footerLink"><a href="">Документация</a></div>
            <div class="footerLink"><a href="">Инструкции за използване на сайта</a></div>
        </div>

        <div class="footerLinks">
            <a href=""><img src="{% static 'Quiz/linkedinLogo.png' %}" alt="" width="auto" height="55"></a>
        </div>        
        <div class="footerLinks">
            <a href=""><img src="{% static 'Quiz/instaLogo.png' %}" alt="" width="auto" height="55"></a>
        </div>        
        <div class="footerLinks">
            <a href=""><img src="{% static 'Quiz/discordLogo.png' %}" alt="" width="auto" height="55"></a>
        </div>        
        <br><br>        
        <span>&copy;FitNavigator 2024. All rights reserved.</span>
    </footer>
</body>
</html>

