main .container {
    margin-left: 80px;
}

main .input-data {
    display: block;
}

main .input-data input {
    font-size: 25px;
    color: white;
    background-color: #202020;
    outline: none;
    border: none;
    border-radius: 5px;

    width: 100px;
    height: 30px;
}

main .input-data select {
    color: white;
    background-color: #202020;
    border: none;
    position: absolute;
    outline: none;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;

    font-size: 25px;
}

main .input-data select option:checked, option:hover {
    box-shadow: 0 0 10px 100px #292929 inset;
}
main .input-data label {
    font-size: 30px;
    letter-spacing:2px;
}

main button {
    width: 300px;
    height: 50px;

    background-color: #F46036;
    border: none;
    border-radius: 5px;

    text-decoration: none;
    color: #f3f3f3;
    font-size: 25px;
    letter-spacing:2px;

    margin: 15px 0;
    cursor: pointer;
}

