body {
    background-size: cover;
    margin:0; 
    padding:0;

    background-image: url('media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0a0a0a;
    color: #d5dfe4;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: fit-content;
    position: fixed;
}

header nav {
    border-bottom: 1px solid #f3c677;
    height: 60px;
    background-color: #2e2e2e;
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
}

header nav #dropdown {
    display: none;
    width: auto;
    height: 20px;
}

header nav #logo {
    display: inline-block;
}

header nav #logo,#img2 {
    width: auto;
    height: 40px;
    position: relative;
    top: 10px;
}

header nav #responsiveLogo {
    width: auto;
    height: 40px;
    display: none;
}

header nav .navButton {
    height:fit-content;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 25px;
}

header nav .navButton::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #E1BB80;
    transition: width 0.2s ease-in-out;
    display: block;
}

header nav .navButton:hover::after {
    width: 100%;
}


/* MAIN */
main {
    /* display: flex;
    justify-content: space-around; */
    padding-top: 75px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 90vh; /* Full viewport height */
}

.login-frame {
    text-align: center;
    width:450px;
    height:450px;

    overflow: hidden;
    /* border-radius: 5px; */

    background-color: #222222;
    color: white;
}

.login-frame label {
    margin-left: 47px;
    margin-bottom: -15px;

    display: block; 
    text-align: left;
}

.login-frame h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.login-frame input {
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: #424242;
    color: white;
    margin-bottom: 15px;
}

.login-frame #showPassword{
    margin-left: 44px;
    margin-top: -15px;

    display: block; 
    text-align: left;
}

.login-frame #password1, #email, #username {
    width: 350px;
    height: 30px
}

.login-frame #submit {
    border: none;
    background-color: #424242;
    color: white;

    width: 350px;
    height: 45px;

    font-size: 20px;

    /* position: relative;
    top: 200px; */
}

.login-frame p a {
    color: #F46036;
}

@media only screen and (max-width: 600px) {

    header nav {
        display: block;
        position: absolute;
        height: fit-content;
        width: 100%;
        border: none;
    }

    header nav #logo {
        display: none;
    }

    header nav #responsiveLogo {
        display: inline-block;
    }

    header nav .navButton, #img2 {
        top: 0;
        text-align: center;
        display:none;
        margin: 0 auto 0 auto;
        padding: 15px 0 15px 0
        /* border: 2px solid green; */
    }

    header nav #div {
        border-bottom: 1px solid #f3c677;
        padding: 10px 0 20px 0;
        /* border: 2px solid pink; */
        display: flex;
        justify-content:space-evenly;
    }

    header nav #dropdown {
        display: inline-block;
    }

    /* For mobile phones: */
    .login-frame {
        transform: scale(0.7);
    }
}