{% load static %}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Фит Навигатор</title>

    <link rel="stylesheet" href="{% static 'homePage/index.css' %}">
    
    <script src="{% static 'homePage/dropdown.js' %}"></script>

    
    <link rel="icon" type="image/x-icon" href="{% static 'homePage/favicon.png' %}"> <!-- Ако ico не работи -->

</head>

<body>

    <header>
        <nav>
            <div id="div">
                <a href="/home" title="Главна страница">
                    <img src="{% static 'homePage/logo.png' %}" alt="Фит Навигатор" id="logo">
                    <img src="{% static 'homePage/responsiveLogo.png' %}" alt="Фит Навигатор" id="responsiveLogo">
                </a>
                <img src="{% static 'homePage/dropdown.png' %}" alt=""  id="dropdown"  onclick="dropdown()">
            </div>

            <a href="/fitNavigator" class="navButton">Линк 1</a>
        
            <a href="/bmr" class="navButton">Линк 2</a>

            <a href="/onlineShop" class="navButton">Онлайн магазин</a>
 
            <a href="#" class="navButton">Линк 4</a>

            <a href="/signup" title="Профил"><img src="{% static 'homePage/profile.png' %}" alt="Фит Навигатор" id="img2"></a>
    </nav>

                <video autoplay loop muted   class="intro_section">
                <source src="{% static 'homePage/intro_section.mp4' %}" type="video/mp4">
            </video>
            <div class="info">
                <div  class="info1">
                    <p>
                        <!-- <i>"One day<br> or <br> Day one"</i> -->
                        Един ден или ден първи?
                    </p>
                    <button class="startNowButton" onclick="window.location.href='../choosePlan/choosePlan.html'">Кликни ме</button>
                </div>
            </div>
    </header>


    <main>
        <div class="quickFacts">

            <div class="quickFact"><a href="index.html#part1">1. ВЪВЕДЕНИЕ В СПОРТА</a></div>
            <div class="quickFact"><a href="index.html#part2">2. УПРАЖНЕНИЯ</a></div>
            <div class="quickFact"><a href="index.html#part3">3. ХРАНЕНЕ</a></div>

        </div>
        <!-- <section class="AboutFitNav">
            <h2>Какво е Фит Навигатор?</h2>
            <p class="description1">
                
ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.
            </p>
            <div class="description2">
            <p class="description3" id="part1"><strong>ВЪВЕДЕНИЕ В СВЕТА НА СПОРТА</strong><br>Открийте магията на спорта чрез наше вълнуващо въведение, което ще ви запознае с разнообразните дейности и ползи, свързани със света на физическата активност. Независимо дали сте начинаещ или опитен спортист, това ръководство ще ви вдъхнови да откриете удоволствието от движение и здравословен начин на живот.</p>
            <p class="description3" id="part2"><strong>УПРАЖНЕНИЯ</strong><br>Научете как правилното хранене може да бъде ключът към постигане на оптимална форма и здраве. Нашите съвети и рецепти ще ви насочат към балансирано хранене, осигурявайки необходимите хранителни вещества за постигане на вашия фитнес потенциал. Открийте вкусната страна на здравословното хранене и се насладете на подкрепата към вашия животен стил.</p>
            <p class="description3" id="part3"><strong>ХРАНЕНЕ</strong><br>Изпробвайте разнообразни упражнения, предоставящи забавление и ефективност за вашия физически режим. Нашите програми за тренировка, създадени за различни нива на фитнес, ще ви насърчат да подобрите силата, издръжливостта и гъвкавостта си. Открийте удоволствието от редовно движение и се насочете към постигане на своите фитнес цели.</p>
            </div>
        </section> -->

        <section class="AboutFitNav">
            <div class="description2">
                <h2>Какво е ФитНавигатор?</h2>
                <div class="description3" id="part1">
                    <p><b>Въведение</b><br>ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.</p>
                    <img src="{% static 'homePage/img1.png' %}" alt="" width="auto" height="100%">
                </div>
                <div class="description3" id="part2">
                    <img src="{% static 'homePage/img2.png' %}" alt="" width="auto" height="100%">
                    <p><b>Упражнения</b><br>ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.</p>
                </div>
                <div class="description3" id="part3">
                    <p><b>Хранене</b><br>ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.</p>
                    <img src="{% static 'homePage/img4.png' %}" alt="" width="auto" height="100%">
                </div>
            </div>
        </section>

        <!-- <a href="../signIn-signUp/signIn.html" class="signIn-signUp"><div class="login"><img src="profile.png" alt=""></div></a> -->
    </main>
    

    <footer>
        <div class="footerLinks">
            <h6>За уебсайта</h6>
            <div class="footerLink"><a href="">За сайта</a></div>
            <div class="footerLink"><a href="">ЧЗВ</a></div>
        </div>

        <div class="footerLinks">
            <h6>За нас</h6>
            <div class="footerLink"><a href="">Кои сме ние?</a></div>
            <div class="footerLink"><a href="">Контакти</a></div>
        </div>
        
        <div class="footerLinks">
            <h6>Документация и Инструкции</h6>
            <div class="footerLink"><a href="">Документация</a></div>
            <div class="footerLink"><a href="">Инструкции за използване на сайта</a></div>
        </div>

        <div class="footerLinks">
            <a href=""><img src="{% static 'homePage/linkedinLogo.png' %}" alt="" width="auto" height="55"></a>
        </div>        
        <div class="footerLinks">
            <a href=""><img src="{% static 'homePage/instaLogo.png' %}" alt="" width="auto" height="55"></a>
        </div>        
        <div class="footerLinks">
            <a href=""><img src="{% static 'homePage/discordLogo.png' %}" alt="" width="auto" height="55"></a>
        </div>        
        <br><br>        
        <span>&copy;FitNavigator 2024. All rights reserved.</span>
    </footer>
</body>
</html>