{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Фит Навигатор</title>
    <link rel="stylesheet" href="{% static 'homePage/index.css' %}">
    <script src="{% static 'basicFiles/dropdown.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'basicFiles/favicon.png' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock head %}

{% block header %}
    <video autoplay loop muted   class="intro_section">
        <source src="{% static 'basicFiles/intro_section.mp4' %}" type="video/mp4">
    </video>
    <div class="info">
        <div  class="info1">
            <p>
                Един ден или ден първи?
            </p>
            <button class="startNowButton" onclick="window.location.href='/fitNavigator'">Започни сега!</button>
{% endblock header %}

{% block main %}
    <div class="quickFacts">

        <div class="quickFact"><a href="#part1">1. ВЪВЕДЕНИЕ В СПОРТА</a></div>
        <div class="quickFact"><a href="#part2">2. УПРАЖНЕНИЯ</a></div>
        <div class="quickFact"><a href="#part3">3. ХРАНЕНЕ</a></div>

    </div>

    <section class="AboutFitNav">
        <div class="description2">
            <h2>Какво е ФитНавигатор?</h2>
            <div class="description3" id="part1">
                <p><b>Въведение</b><br>ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.</p>
                <img src="{% static 'homePage/img1.png' %}" alt="" width="auto" height="100%">
            </div>
            <div class="description3" id="part2">
                <img src="{% static 'homePage/img2.png' %}" alt="" width="auto" height="100%">
                <p><b>Упражнения</b><br>ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.</p>
            </div>
            <div class="description3" id="part3">
                <p><b>Хранене</b><br>ФитНавигатор - уебсайт за здравословен начин на живот и фитнес с персонализирани тренировки и интелигентно хранене. Холистичен подход и интелигентни алгоритми за персонализирани тренировъчни програми.</p>
                <img src="{% static 'homePage/img4.png' %}" alt="" width="auto" height="100%">
            </div>
        </div>
    </section>
{% endblock main %}