{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Изберете план - Фит Навигатор</title>
    <script src="{% static 'basicFiles/dropdown.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Calculators/Calculators.css' %}">
    <link rel="stylesheet" href="{% static 'basicFiles/basic.css' %}">
{% endblock head %}

{% block main %}
    <h1>Calories Calculator</h1>       
    <br>

    {% if result %}
    <h3>Вашият BMI: {{result}}</h3>
    <br>
    {% endif %}
    <div id="container">
        <form method="POST">
            {% csrf_token %}
            <div class="input-data">
            <label>Въведете тежестта ви в килограми:</label>
            <input type="number" name="weight" class="form-control" >
            <br>
            <label>Въведете височината ви в см:</label>
            <input type="number" name="height" class="form-control" >
            <br>
            </div>
            <button type="submit">Submit</button><br>
        </form>
    </div>
{% endblock main %}