{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Изберете план - Фит Навигатор</title>
    <script src="{% static 'basicFiles/dropdown.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Calculators/Calculators.css' %}">
    <link rel="stylesheet" href="{% static 'basicFiles/basic.css' %}">
{% endblock head %}

{% block main %}
    <div class="container">
        {% if result %}
            <h3>Калории нужни на ден: {{result}} калории</h3>
            <br>
        {% endif %}
        <form method="POST">
            
            <h1>Calories Calculator</h1>
            {% csrf_token %}

            <div class="input-data">
            <label>Въведете тежестта си в килограми: </label>
            <input type="number" name="weight" class="form-control" >
            </div>

            <div class="input-data">
            <br>
            <label>Въведете височината си в сантиметри:</label>
            <input type="number" name="height" class="form-control" >
            </div>

            <div class="input-data">
            <br>
            <label>Въведете вашата възраст:</label>
            <input type="number" name="age" class="form-control" >
            </div>

            <div class="input-data">
            <br>
            <label>Вашият пол:</label>
            <select name="gender" class="form-control" onfocus="this.size=2" onblur="this.size=0" onchange="this.size=1; this.blur()">
                <option value="male">Мъж</option>
                <option value="female">Жена</option>
            </select>
            </div>
            <button type="submit">Изпрати</button><br>
        </form>       
        </div>
            
    <br>

    
    </div>
{% endblock main %}



