{% extends 'base/baseAuthentication.html' %}
{% load static %}

{% block head %}
    <link rel="icon" type="image/x-icon" href="{% static 'authentication/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="media/favicon.png">

    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <link rel="stylesheet" href="{% static 'basicFiles/basic.css' %}">
    <script type="text/javascript" src="{% static 'authentication/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'authentication/script.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Влизане - ФитНавигатор</title>

    <link rel="icon" type="image/x-icon" href="{% static 'authentication/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'authentication/favicon.png' %}"> <!-- Ако ico не работи -->
{% endblock head %}


{% block main %}
    <div class="login-frame">
        <h2>Вход</h2>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}


        <form method="post" action="signin/">
            {% csrf_token %}
            <!-- Email -->
            <label for="email">Потребителско Име</label>
            <input type="text" id="username" name="username" Required>
            <br>
            <!-- Password -->
            <label for="password">Парола</label>
            <input type="password" id="password" name="password" Required>
            <div id="showPassword"><input type="checkbox" onclick="showPassword()" >Покажи парола
            </div>

            <!-- Submit -->
            <button id="submit">Регистрация</button>
        </form>
        <p>Нямаш акаунт? <a href="/signup">Регистрация</a></p>
    </div>
{% endblock main %}