{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'authentication/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="media/favicon.png">

    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <script type="text/javascript" src="{% static 'authentication/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'authentication/script.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Влизане - ФитНавигатор</title>

    <link rel="icon" type="image/x-icon" href="{% static 'authentication/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'authentication/favicon.png' %}"> <!-- Ако ico не работи -->
</head>

<body>
    <header>
        <nav>
            <div id="div">
                <a href="/home" title="Главна страница">
                    <img src="{% static 'authentication/logo.png' %}" alt="Фит Навигатор" id="logo">
                    <img src="{% static 'authentication/responsiveLogo.png' %}" alt="Фит Навигатор" id="responsiveLogo">
                </a>
                <img src="{% static 'authentication/dropdown.png' %}" alt=""  id="dropdown"  onclick="dropdown()">
            </div>

            <a href="/fitNavigator" class="navButton">Линк 1</a>
        
            <a href="/bmr" class="navButton">Линк 2</a>

            <a href="/onlineShop" class="navButton">Онлайн магазин</a>
 
            <a href="#" class="navButton">Линк 4</a>

            <a href="/signup" title="Профил"><img src="{% static 'authentication/profile.png' %}" alt="Фит Навигатор" id="img2"></a>
    </nav>
    </header>
    <main>

        <div class="login-frame">
            <h2>Вход</h2>
            <form method="post" action="/signin/">
                {% csrf_token %}
                <!-- Email -->
                <label for="email">Потребителско Име</label>
                <br>
                <input type="text" id="username" name="username" Required>
                <br>
                <!-- Password -->
                <label for="password">Парола</label>
                <br>
                <input type="password" id="pass1" name="password" Required>
                <div id="showPassword"><input type="checkbox" onclick="showPassword1()" >Покажи парола
                </div>

                <!-- Submit -->
                <input type="submit" value="Влизане" id="submit">
            </form>
            <p>Нямаш акаунт? <a href="signup.html">Регистрация</a></p>
        </div>
        
    </main>
</body>
</html>