{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Магазин - ФитНавигатор</title>

        <link rel="stylesheet" href="{% static 'onlineShop/onlineShop.css' %}">
        <link rel="stylesheet" href="{% static 'basicFiles/basic.css' %}">

        <link rel="icon" type="image/x-icon" href="{% static 'basicFiles/favicon.ico' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'basicFiles/favicon.png' %}"> <!-- Ако ico не работи -->
{% endblock head %}


{% block main %}
<!-- <a href="../index/index.html">Върни се назад</a> -->
    <div class="parentDiv">
    <div>
    <img src="{% static 'onlineShop/Construction.png' %}" alt="">
    <p style="text-align: center;">Страницата е в процес на разработка...</p>
{% endblock main %}

    

