{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин - ФитНавигатор</title>

    <link rel="stylesheet" href="{% static 'onlineShop/onlineShop.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'onlineShop/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'onlineShop/favicon.png' %}"> <!-- Ако ico не работи -->
</head>
<body>
    <!-- <a href="../index/index.html">Върни се назад</a> -->
    <a href="../index/index.html" title="Главна страница" class="mainPage"><img src="../index/logo.png" alt="Фит Навигатор" class="img" width="auto" height="70"> Начало</a>
    <div class="parentDiv">
    <div>
    <img src="{% static 'onlineShop/Construction.png' %}" alt="">
    <p>Страницата е в процес на разработка...</p>
    </div></div>
</body>
</html>
