body {
    background-color: #202020;
    color: #404040;
    margin: 0; /* Remove default margin */

    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

body .mainPage {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #d5dfe4;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

a {
    font-size: 20px;
    color: #dfdfdf;
    position: absolute;
    top: 30px;
    left: 30px;
}

.parentDiv {
    display: flex;
    height: 100vh; /* Make the body take the full height of the viewport */
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
}

body div {
    text-align: center;
    user-select: none;
}
