<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calories Calculator</title>
    <link rel="stylesheet" href="">
</head>
<body>

    <h1>Calories Calculator</h1>
    
    <br>
    
    {% if result %}
        <h3>Calories require for the day: {{result}} calories</h3>
    <br>
    {% endif %}
        
    
        <form method="POST">
            {% csrf_token %}

            <label>Your weight in kg</label>
            <input type="number" name="weight" class="form-control" >
            <br>
            <label>Your height in cm</label>
            <input type="number" name="height" class="form-control" >
            <br>
            <label>Your age</label>
            <input type="number" name="age" class="form-control" >
            <br>
            <label>Gender</label>
            <select name="gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            </div>
              
            
            <button type="submit">Submit</button><br>
          </form>
    </div>

 
</body>
</html>