<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1>Одговорете на Въпросите:</h1>

        <form method = "post" id="workoutForm">
        {% csrf_token %}

            <label for="">1. От къде искате да тренирате?</label>
            <select name="env" class="form-control" id="env">
                <option value="home">Навън/ У дома</option>
                <option value="gym">В Фитнес</option>
            </select>    
            <br>

            <label for="">2. Какъв е вашият пол?</label>
            <select name="gender" class="form-control" id="gender">
                <option value="male">Мъж</option>
                <option value="female">Жена</option>
            </select>
            <br>

            <label for="">2. Какви са вашите цели?</label>
            <select name="goals" class="form-control" id="goals">
                <option value="loseWeight">Загуба на излишни мазнини</option>
                <option value="gainWeight">Покачване на мускулна маса</option>
            </select>
            <br>
            
            <label for="">3. Колко е натоварено вашето ежедневие?</label>
            <select name="time" class="form-control" id="time">
                <option value="busy">Зает съм и желая да завършвам с тренировклите си бързо</option>
                <option value="free">Имам достатъчно свободно време за тренировки</option>
            </select>    
            <br>

            <label for="">4. Какъв вид е вашето тяло?</label>
            <p>За да улесним поцесът на определяне на вашият вид тело ще трябва да тествате вашият BMI(индекс на телесна маса), като използвате калкулаторът вргаден в нашият сайт:</p>
            <button ><a href="/bmi">BMI калкулатор</a></button>
            <select name="bodytype" class="form-control" id="bodytype">
                <option value="underweight">BMI under 20</option>
                <option value="normal">BMI under 25</option>
                <option value="overweight">BMI over 25</option>
            </select>
            <br>

            <button type="submit">Създай Програма</button>
            <br>
            <button type="submit" name="next_button">Следваща Tренировка</button>

        </form>
        

        {% if all %}
            {% with current_workout=all.0 %}
                <div class="workout">
                    <p>{{ current_workout.name }}</p>
                    <p>{{ current_workout.Exercise1 }}</p>
                    <p>{{ current_workout.Exercise2 }}</p>
                    <p>{{ current_workout.Exercise3 }}</p>
                    <p>{{ current_workout.Exercise4 }}</p>
                    <p>{{ current_workout.Exercise5 }}</p>
                    <p>{{ current_workout.Exercise6 }}</p>
                    <p>{{ current_workout.Exercise7 }}</p>
                    <p>{{ current_workout.Exercise8 }}</p>
                    <p>{{ current_workout.Exercise9 }}</p>
                    <p>{{ current_workout.Exercise10 }}</p>
                    <p>{{ current_workout.Exercise11 }}</p>
                    <p>{{ current_workout.Exercise12 }}</p>
                    <p>{{ current_workout.Exercise13 }}</p>
                    <p>{{ current_workout.Exercise14 }}</p>
                    <p>{{ current_workout.Exercise15 }}</p>
            </div>
            {% endwith %}
        {% endif %}
        
        {% if all|length > 1 %}
            <input type="hidden" name="current_index" value="0">
        {% endif %}

        <h1>Съвети за Диета</h1>

            {% for item in tips %}
                <p>{{ item.name }}</p>
            {% endfor %}

        <script src="" async defer></script>
    </body>
</html>