body {
    margin: 0;
    padding: 0;
    background-color: #000000;

    color: #f3f3f3;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Roboto Condensed", sans-serif;
}

main section a {
    color: #F46036;
}

main section {
    margin-left: 80px;
}

main #important {
    border: 2px solid #aa4123;
    color: #fff;
    display: flex;
    align-items: center;
    height: 40px;
    width: 1170px;
    background-color: #F46036;
}

main #important p {
    font-size: 18px;
    margin: 10px 0 10px 5px;
}

main #aboutUs img {
    width: 200px;
    height: auto;
    border: 5px solid #F46036;
    border-radius: 60px;
}

main #aboutUs div {
    text-align: center;
    margin: auto;
    /* border: 2px solid red; */
    /* margin-left: -80px; */
    display: inline-block;
    width: 40%;
}

@media only screen and (max-width: 1300px) {
/* 
    .description3 img {
        display: none;
    }

    footer .footerLinks{    
        display: block;
    }

    footer .footerLinks:first-child {
        padding-top: 40px;
    } */

    /* .description3 p{
        width: 200px;
        bottom: 0;    
    } */

    main #important {
        border: 2px solid #aa4123;
        color: #fff;
        display: flex;
        align-items: center;
        height: 80px;
        width: 370px;
        background-color: #F46036;
    }
    
    main #important p {
        font-size: 14px;
        margin: 10px 0 10px 5px;
    }

    main section {
        margin-left: 10px;
    }

    main #aboutUs img {
        width: 100px;
        height: auto;
        border: 5px solid #F46036;
        border-radius: 60px;
    }
}